.App {
  text-align: center;
}

.user {
  background-image: linear-gradient(pink, rgb(255, 217, 192));
  width: 200px;
  height: 185px;
  margin: 50px auto;
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

p {
  margin: 0;
}

button {
  background-color: aquamarine;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: rgb(87, 238, 188);
}

button:active {
  transform: scale(0.9);
  animation-duration: 0.1;
}

button:focus {
  outline: none;
}
